@import-normalize; /* bring in normalize.css styles */

@keyframes fadeInOut {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

body {
  background-color: #f5f7fa;
  font-family: "Montserrat", normal;
}

li {
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
a {
  text-decoration: none;
  color: #595959;
}

.maincontainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px) {
  .maincontainer {
    width: 700px;
    flex-direction: row;
    margin: 10px auto;
  }
}
@media only screen and (min-width: 1024px) {
  .maincontainer {
    width: 800px;
    margin: 40px auto;
  }
}
@media only screen and (min-width: 1224px) {
  .maincontainer {
    width: 1200px;
  }
}
/*sidebar section*/
.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 0;
  background-color: #1e2939;
  align-self: stretch;
}
@media only screen and (min-width: 768px) {
  .sidebar {
    width: 100%;
  }
}

.section {
  margin: auto;
  min-width: 220px;
}
@media only screen and (min-width: 768px) {
}
.linkOfCV {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.linkOfCV > a {
  color: grey;
  font-weight: 600;
}
.linkOfCV > a:hover {
  color: orangered;
  font-weight: 700;
}
.sidebar_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
  animation-name: fadeInOut, moveLeft300px, bounce;
  animation-duration: 2s, 4s;
  animation-iteration-count: 1;
}
.sidebarletter {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}
.techskillslist {
  padding: 0 0 0 17px;
}
.sliderOfSertification {
  display: block;
}
.skills-item {
  color: #fb6d3a;
  animation-name: fadeInOut, moveLeft300px, bounce;
  animation-duration: 3s, 5.5s;
  animation-iteration-count: 1;
}
.skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  opacity: 0.75;
}
.photo {
  width: 100%;
  margin: auto;
}
#photo {
  width: 370px;
  object-fit: cover;
}
.image-gallery-content {
  border-radius: 15px;
}
/*ride side section*/
.right_side {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px 20px;
}
@media only screen and (min-width: 768px) {
  .right_side {
    padding: 50px 20px;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .right_side {
    padding: 75px 30px;
  }
}

/*about me section*/
.my_project {
  padding-bottom: 50px;
  min-width: 350px;
}
@media only screen and (min-width: 768px) {
  .my_project {
    width: 100%;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1024px) {
  .my_project {
    min-width: 400px;
    width: 100%;
  }
}
.aboutme {
  width: 100%;
  margin-bottom: 40px;
}
.myjob {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 17px;
  margin-bottom: 20px;
  color: #000000;
}
.myname {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 20px;
  color: #000000;
}
.about_me_description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.moreDetail {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
  }
}
/*my projects section*/
.main-contact-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
.projectPics {
  width: 100%;
  height: calc(100vh - 50%);
  border-radius: 10px;
}
@media only screen and (min-width: 768px) {
  .projectPics {
    width: 100%;
    height: calc(100vh - 300px);
  }
}
/*my work expierences */
.style_job {
  margin: 0 0 10px 0;
}
.text_style_orange {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
.job_name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 10px 0;
}
.style_period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 4px 0;
}
.job {
  margin: 0 0 15px 0;
}
.black_color_style_period,
.black_color_style_education {
  color: #000000;
  margin: 0 0 10px 0;
}
.description-of-duties {
  padding: 0 0 0 18px;
  margin: 10px 0 0 0;
}
.duty_item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.text_style_blue {
  font-size: 12px;
  font-style: italic;
  font-weight: 800;
  color: blue;
}
.text_style_blue a {
  color: blue;
}
.text_style_about {
  font-style: italic;
  font-size: 12px;
  padding: 0;
  margin: 0;
  line-height: 1;
}
/*my education*/
.style_education {
  margin: 0 0 10px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
.style_specialty {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 10px 0;
}
/* ImgGallery */

.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  height: 15px;
  width: 15px;
}
.image-gallery {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.image-gallery-slide.image-gallery-cente {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 30px;
  width: 30px;
}
.image-gallery-image {
  width: 200px;
  height: 100%;
}
.image-gallery-slide .image-gallery-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.image-gallery-swipe {
  min-height: 300px;
  border-radius: 20px;
}
/* popup-root */

#popup-root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 45;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  display: flex;

  background-color: #0000006b;
  transition: opacity 0.3s linear 50ms, visibility 0.3s linear 50ms;

  &.is-hide {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    display: none;
    width: 0;
    height: 0;
  }
}

/* video */
.react-player {
  border-radius: 30px;
  overflow: hidden;
}
.swiper.swiper-initialized.swiper-horizontal {
  overflow: hidden;
}
